In [1]:
# Import PyGreSQL module to handle DB connections and queries
from pg import DB 

# Create a connection with the DB
db = DB(
            dbname = 'xaldigital', 
            host   = 'localhost',
            port   = 5432, 
            user   = 'postgres', 
            passwd = 'Hernan6938'
        )

In [2]:
db.query(
    """
    CREATE TABLE IF NOT EXISTS aerolineas
    (
        id_aerolinea INT NOT NULL,
        nombre_aerolinea VARCHAR(20),
        PRIMARY KEY(id_aerolinea)
    );
    """
)

db.query(
    """
    INSERT INTO aerolineas VALUES
    (1, 'Volaris'), (2, 'Aeromar'), 
    (3, 'Interjet'), (4, 'Aeromexico');
    """
)

db.query(
    """
    CREATE TABLE IF NOT EXISTS aeropuertos
    (
        id_aeropuerto INT NOT NULL,
        nombre_aeropuerto VARCHAR(20),
        PRIMARY KEY(id_aeropuerto)
    );
    """
)

db.query(
    """
    INSERT INTO aeropuertos VALUES
    (1, 'Benito Juarez'), (2, 'Guanajuato'), 
    (3, 'La Paz'), (4, 'Oaxaca');
    """
)

db.query(
    """
    CREATE TABLE IF NOT EXISTS movimientos
    (
        id_movimiento INT NOT NULL,
        descripcion VARCHAR(20),
        PRIMARY KEY(id_movimiento)
    );
    """
)

db.query(
    """
    INSERT INTO movimientos VALUES
    (1, 'Salida'), (2, 'Llegada');
    """
)

db.query(
    """
    CREATE TABLE vuelos
    (
        id_aerolinea INT NOT NULL,
        id_aeropuerto INT NOT NULL,
        id_movimiento INT NOT NULL,
        dia DATE
    );
    """
)

db.query(
    """
    INSERT INTO vuelos VALUES
    (1, 1, 1, '2021-05-02'), 
    (2, 1, 1, '2021-05-02'), 
    (3, 2, 2, '2021-05-02'), 
    (4, 3, 2, '2021-05-02'), 
    (1, 3, 2, '2021-05-02'), 
    (2, 1, 1, '2021-05-02'), 
    (2, 3, 1, '2021-05-04'), 
    (3, 4, 1, '2021-05-04'), 
    (3, 4, 1, '2021-05-04');
    """
)

'9'

In [8]:
print(
db.query(
    """
    SELECT nombre_aeropuerto
    FROM aeropuertos
    INNER JOIN vuelos
    ON vuelos.id_aeropuerto = aeropuertos.id_aeropuerto
    GROUP BY nombre_aeropuerto
    HAVING COUNT(vuelos.id_movimiento) = 
    (
        SELECT COUNT(id_movimiento) AS mov_count
        FROM vuelos
        GROUP BY id_aeropuerto
        ORDER BY mov_count DESC 
        LIMIT 1
    );
    """
))

nombre_aeropuerto
-----------------
Benito Juarez
La Paz
(2 rows)

In [10]:
print(
db.query(
    """
    SELECT nombre_aerolinea
    FROM aerolineas
    INNER JOIN vuelos
    ON vuelos.id_aerolinea = aerolineas.id_aerolinea
    GROUP BY nombre_aerolinea
    HAVING COUNT(vuelos.id_movimiento) = 
    (
        SELECT COUNT(id_movimiento) AS mov_count
        FROM vuelos
        GROUP BY id_aerolinea
        ORDER BY mov_count DESC 
        LIMIT 1
    );
    """
))

nombre_aerolinea
----------------
Aeromar
Interjet
(2 rows)

In [11]:
print(
db.query(
    """
    SELECT dia 
    FROM vuelos
    GROUP BY dia
    HAVING COUNT(dia) = 
    (
        SELECT COUNT(dia)
        FROM vuelos 
        GROUP BY dia
        ORDER BY dia ASC
        LIMIT 1
    );
    """
))

   dia
----------
2021-05-02
(1 row)

In [14]:
print(
db.query(
    """
    SELECT
    nombre_aerolinea
    FROM aerolineas
    INNER JOIN vuelos
    ON vuelos.id_aerolinea = aerolineas.id_aerolinea
    GROUP BY nombre_aerolinea, vuelos.dia
    HAVING COUNT(vuelos.id_aerolinea) > 2;
    """
))

nombre_aerolinea
----------------
(0 rows)